<section class="prayer-details-hero">

  <div class="overlay"></div>

  <div class="details-content">

    <span>
      {{ prayer.category }}
    </span>

    <h1>
      {{ prayer.title }}
    </h1>

    <p>
      {{ prayer.shortDescription }}
    </p>

  </div>

</section>

<section class="prayer-body">

  <div class="prayer-card">

    <h2>
      Sacred Prayer
    </h2>

    <div class="prayer-text">

      {{ prayer.prayer }}

    </div>

  </div>

  <div class="prayer-card">

    <h2>
      Spiritual Meaning
    </h2>

    <p>
      {{ prayer.explanation }}
    </p>

  </div>

</section>